.container {
  max-width: 375px;
  padding-inline: 10px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-inline: 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
