.castList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 25px;
  list-style: none;
  justify-content: center;
}

.item {
  width: 155px;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 5px;
}

.photo {
  border-radius: 15px;
}

.name {
  font-weight: bold;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .item {
    width: 174px;
  }
}
